[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[dev-packages]
ipykernel = "*"
"flake8" = "*"
black = "*"
pytest = "*"
coverage = "*"
behave = "*"
pytest-cov = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
sphinx-autobuild = "*"
sphinx-autodoc-typehints = "*"
hypothesis = "*"

[packages]
logzero = "*"
autologging = "*"
tqdm = "*"
"4b5d72f" = {file = "https://github.com/theskumar/python-dotenv/archive/master.zip"}
fire = "*"
